{% macro get_pkg_value(pkg_dict, field_name) %}
    {% if field_name in pkg_dict %}
      {{ pkg_dict[field_name] }}
    {% else %}
      {% for extra in pkg_dict.extras %}
        {% if extra.key == field_name %}
          {{ extra.value }}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endmacro %}


{% macro display_multiple_select(field, data, values) %}
  {% set value = data[field.field_name] %}
  {% set choices_dict = {} %}
  {% for choice in field.choices %}
    {% do choices_dict.update({choice.value: choice.label}) %}
  {% endfor %}
  <ul>
    {% for item in values %}
      {% if item in choices_dict %}
        <li>{{ choices_dict[item] }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
