:root {
    /* theme*/
    --theme: 'zarr';
    /* palette */
    --primary: #000000;
    --secondary: #009E49;
    --background: #FFFFFF;
    --tag: #FCAD56;        /* Zambrano */
    --tag-dark: #EF3340;   /* Red */
    --tag-light: #EF3340;  /* Red */
    --tag-background: #FDF0E3;
    --dark: #000000;
    --light: #FFFFFF;
    --primary65: #009E49A6;
    --primary25: #009E4940;
    --primary10: #009E491A;
    --neutral-light-grey: #E6E7E8;
    --A11y: #757575;
    --highlight-box-bgcolor: #000000;
    /* fonts */
    --default-font-weight: 700;
    --default-font-size: 18px;
    --default-line-height: 20px;
    --default-font-family: 'Inter';
    --default-font-color: #13240F;
    /* logo vertical bar (right) */
    --logo-left-v-bar-display: none; /* or inline-block if shown */
    --logo-left-v-bar-padding-right: 10px; /* set to 19px if visible */
    /* promoted background color */
    --promoted-background-color: #13240F;
    /* insights */
    --lower-container-display: flex;  /* set to flex to show */
    --after-insights-min-height: 400px;
    /* masthead */
    --masthead-visibility: block;
    --development-banner-visibility: block;
    --locales-visibility: none;
    /* recently updated */
    --recently-updated-title-visibility: none;
    /* footer */
    --footer-search-section-padding-top: 64px;
    --footer-search-section-padding-bottom: 0px;
    /* badge */
    --badge-font-size: 0.7em;
    /* user profile */
    --breadcrumbs-color: #FFFFFF;
    /* breadcrumbs */
    --breadcrumbs-text-decoration: none;
    --breadcrumbs-font-weight: 700;
}

.footer-stats-section .data-hub-stats .insight-small-rect {
    background-color: var(--tag) !important;
    box-shadow: 0 0 0 0.4px var(--light) !important;
    p:first-child, .number span {
        color: var(--primary) !important;
    }
}

.promoted-background {
    background-color: var(--secondary) !important;
}

.site-footer {
    background: var(--secondary) !important;
}

.dynamic-wave-background {
    background-image: none !important;
    background-size: 100% !important;
}

.promoted-background.dynamic-wave-background {
    border-bottom: var(--primary) 1px solid;
    background-image:
        linear-gradient(to right, var(--secondary) 80%, var(--primary) 80%) !important;
}

.promoted-background.dynamic-wave-background::before {
  background: none !important;
}

.promoted-background.dynamic-wave-background::after {
  background: none !important;
}

.big-footer.dynamic-wave-background {
  background-color: var(--secondary) !important;
  background-image:
    radial-gradient(circle, var(--tag-dark) 2px, transparent 1px) !important;
}

.big-footer.dynamic-wave-background::before {
  background: none !important;
}

.big-footer.dynamic-wave-background::after {
  background: radial-gradient(ellipse at center, transparent 0%, var(--primary) 99%) !important;
}

.toolbar .breadcrumb li:not(:first-child)::before {
    color: var(--light) !important;
}

.promoted-background .nav-tabs li {
    border-top: 4px solid var(--primary) !important;
    background: var(--tag) !important;
    border-bottom: var(--tag) solid 1px !important;
    a {
        color: var(--primary) !important;
    }
}

.promoted-breadcrumbs .toolbar .breadcrumb a {
    color: var(--light) !important;
}

.promoted .badge {
    background: var(--tag-dark) !important;
}

.promoted .subtitle, .promoted .subtitle a, .promoted .subtitle a:hover,
.promoted .headline a,
.promoted-background
{
    text-align: justify;
}

.masthead .main-navbar ul li.active a {
    border-bottom-color: var(--tag-dark) !important;
}

.masthead {
    border-bottom: var(--primary) thin solid !important;
}

.main-navbar .navbar-nav li a:hover,
.main-navbar .navbar-nav li a:focus,
.main-navbar .navbar-nav li.active a,
.main-navbar ul li:hover a,
.main-navbar ul li:focus a,
.main-navbar ul li.active a
{
    color: var(--tag-dark) !important;
}

.recently-updated H3 {
    color: var(--tag-dark) !important;
}

.user-profile-page .right-content .logout-btn:hover {
    background-color: var(--light) !important;
}


