/* This file overwrites css from the base ckan theme */
.homepage .promoted-background {
    background: url("/images/zarr_bg.png") no-repeat center center;
    background-size: cover;
}

.homepage .promoted-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 72px);
    height: 100%;
    background: url("/images/zarr_bg_transparent_layer.png") no-repeat center center;
    background-size: auto 100%;
    pointer-events: none;
    z-index: 1;
}

.homepage .promoted-background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 100%;
    background: url("/images/3colors.png") no-repeat center center;
    background-size: cover;
    pointer-events: none;
    z-index: 1;

}

.promoted-background {
    background-color: #13240F;
}

.promoted-container {
    position: relative;
    z-index: 2;
}

.recently-updated .view-all-btn {
    background: none;
}

.subscribe .register {
    color: white;
    background-color: #13240F;
    border: white thin solid;
}

.footer-search-section .lens-btn {
    background-color: white;
    border: inherit;
    padding-left: 18px;
    padding-right: 18px;
}

.footer-search-section .search-label {
    display: none !important;
}

.footer-search-section #field-giant-search {
    max-width: 371px;
}

